/*=============================
	03. Banner CSS start
===============================*/

.banner-section {
  margin-top: 87px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .banner-main-content{
      background-color: rgba(16, 130, 183, 0.7);
      padding: 200px 0;
      display: grid;
      place-content: center;
    }
    .banner-content {
      width: 100%;
      height: 100%;
      color: white !important;
      h3{
        color: white;
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 8px;
        text-align: center;
        @media screen and (max-width: 576.98px) {
          font-size: 35px;
          line-height: 45px;
        }
        @media (max-width: 374.98px) {
          font-size: 30px;
          line-height: 40px; 
        }
      }
      
      .banner-title {
        @media screen and (max-width: 991.98px) {
          margin: 0 auto;
          text-align: center !important;
        }
        .title-shape {
          right: -42px;
          top: -30px;
          @media (max-width: 1199.98px) {
            right: 8px;
          }
          @media (max-width: 767.98px) {
            right: -35px;
          }
          @media (max-width: 576.98px) {
            right: 25px;
          }
          
          @media screen and (max-width: 530.98px) {
            display: none;
          }
        }
        svg{
          color: #0ae754;
        }
        // max-width: 541px;
        
        color: white !important;
        text-align: center;
        font-size: 74px;
        line-height: 84px;
        letter-spacing: -1.48px;
        @media (max-width: 1199.98px) {
          font-size: 60px;
          line-height: 70px;
        }
        @media (max-width: 576.98px) {
          font-size: 45px;
        }
        @media (max-width: 375.98px) {
          font-size: 36px;
          line-height: 40px;
        }
      }
      .desc{
        text-align: center;
        max-width: 582px;
        color: white !important;
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 20px;
        margin-top: 17px;
      }
      
    }
 
}
